{% extends 'layout.html.twig' %}

{% block title %}Настройка сервиса #{{ service.id }} {% endblock %}

{% block page_content %}

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Настройка сервиса</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form">
            <div class="card-body">

                <div class="form-group">
                    {#                    <label for="exampleInputPassword1">Config</label> #}
                    <textarea class="form-control"
                              style="height: 1000px"
                              id="config"
                              placeholder="Password">{{ config | json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
{% endblock %}