{% extends 'layout.html.twig' %}

{% block title %}Настройка сервиса #{{ service.id }} {% endblock %}

{% block page_content %}

    <form class="card card-info" method="post">
        <div class="card-header">
            <h3 class="card-title">Настройка сервиса</h3>
            <div class="card-tools">
                <button type="submit" class="btn btn-info btn-sm" href="{{ path('config', { serviceId:service.id }) }}" >Сохранить</button>
            </div>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="form" >
            <div class="card-body">

                <div class="form-group">
                    <textarea class="form-control"
                              style="height: 1000px"
                              id="config"
                              name="config"
                              placeholder="Password">{{ config | json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
            <!-- /.card-footer -->
        </div>
    </form>
{% endblock %}