{% extends 'layout.html.twig' %}

{% block title %}Настройка сервиса #{{ service.id }} {% endblock %}

{% block page_content %}


{#    <div class="row">#}
{#    {% for serviceConnection in serviceConnections %}#}

{#        <div class="col-lg-3 col-6">#}
{#            <a href="/"  class="small-box bg-{{ serviceConnection.status }}">#}
{#                <div class="small-box bg-info"> #}
{#                <div class="small-box bg-success"> #}
{#                <div class="small-box bg-warning"> #}
{#                <div class="small-box bg-danger"> #}
{#                <div class="inner">#}
{#                    <h3>{{ serviceConnection.name }}</h3>#}
{#                    <p>{{ serviceConnection.ip }}</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-bag"></i>#}
{#                </div>#}
{#                <span class="small-box-footer">#}
{#                    More info#}
{#                    <i class="fas fa-arrow-circle-right"></i>#}
{#                </span>#}
{#            </a>#}
{#        </div>#}
{#    {% endfor %}#}
{#    </div>#}
{% endblock %}